@{
    ViewData["Title"] = "Home Page";

}
@model task2.Models.IndexModel

<div id="cardsPanel">
        <H3>Data still not loaded form 19555 api, wait few moments</H3>
        <span class="pseudospinner">This should be spinner</span>
</div>



<script src="js/jquery.min.js"></script>
<script>
    setInterval(() => {
            $.get("home/GetCards",
                function(data) {
                    $("#cardsPanel").html(data);
                });
        },
        4000);
</script>

@* else *@
@* { *@
@*     foreach (var entity in Model.Entities) *@
@*     { *@
@*         <div class="card w-100"> *@
@*             <div class="card-header @GetCardColor(entity.NotificationType)">@entity.Category/@entity.SubCategory</div> *@
@*             <div class="card-body"> *@
@*                 <h5 class="card-title"> @entity.EventDescription</h5> *@
@*                 <p class="card-text">@entity.Street2 @entity.District @entity.City</p> *@
@*             </div> *@
@*         </div> *@
@*     } *@
@* } *@
