@{
    ViewData["Title"] = "Home Page";
    
}
@using task2.Models.ModelEntites
@model task2.Models.IndexModel

@{

    string GetCardColor(EventType type)
    {
        switch (type)
        {
            case EventType.INCIDENT:
                return "bg-danger";
            case EventType.INFORMATIONAL:
            case EventType.PUBLIC_INFORMATION:
                return "bg-info";
            case EventType.COMPLAINT:
                return "bg-waring";
            case EventType.FREEFORM:
            case EventType.STATUS:
            default:
                return "bg-primary";

        }
    }
}

@foreach (var entity in Model.Entities)
{
    <div class="card w-100">
        <div class="card-header @GetCardColor(entity.NotificationType)">@entity.Category/@entity.SubCategory</div>
        <div class="card-body">
            <h5 class="card-title"> @entity.EventDescription</h5>
            <p class="card-text">@entity.Street2 @entity.District @entity.City</p>
        </div>
    </div>
}
